.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.clients img {
	height:100px;
}

.timeline img {
	height:156px;
}

#portfolio img {
	width:400px;
	height:300px;
}

#team h4 {
	white-space: nowrap;
}
nav a.navbar-brand {
	padding-top:0px;
}
nav img.logo {
	width: 200px;
}

.portfolio-modal .modal-content {
	padding-top:20px;
	padding-bottom:20px;
}

.portfolio-modal {
	padding-right:0px;
}

/* body.en_US :lang(fr_FR) {
  display: none;
}
body.fr_FR :lang(en_US) {
  display: none;
} */

body:lang(en_US) :lang(fr_FR) {
  display: none;
}
body:lang(fr_FR) :lang(en_US) {
  display: none;
}

.bfh-languages {
	width:140px;
}

.bfh-selectbox .bfh-selectbox-toggle {
		padding-bottom:10px;
		padding-top:10px;
		background-color:transparent;
		border:none;
	}

@media (min-width: 768px) {
	.bfh-selectbox .bfh-selectbox-toggle {
		padding-bottom:15px;
		padding-top:15px;
	}
}

.bfh-selectbox .bfh-selectbox-options {
	background-color:transparent;
	border:none;
	padding-top:0px;
	padding-right:4px;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.bfh-selectbox-toggle.form-control {
	-webkit-box-shadow:none;
	box-shadow:none;
}

.navbar-default.navbar-shrink .bfh-selectbox .bfh-selectbox-options  {
	background-color:#222;
}

.bfh-selectbox .bfh-selectbox-options ul li>a {
	color:white;
	background-color:transparent;
}

@media (min-width: 768px) {
	.bfh-selectbox .bfh-selectbox-options ul li>a {
		margin-left:-10px;
		width:auto;
	}
}

@media (max-width: 768px) {
	.bfh-selectbox .bfh-selectbox-options ul li>a {
		padding-left:12px;
	}
}

.bfh-selectbox .bfh-selectbox-options ul li>a:hover, .bfh-selectbox .bfh-selectbox-options ul li>a:focus {
	color:#B8D535;
	background-color:transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color:transparent;
}